<div class="ambu-background flex hc full-view-size d-col">
  <bj-signin class="signin-container" *ngIf="showSignin" (closeComponent)="closeComponent($event)"
    (openSignup)="openSignup($event)"></bj-signin>
  <bj-signup class="signin-container" *ngIf="showSignup" (closeComponent)="closeComponent($event)"></bj-signup>
  <img class="ambu-text" src="assets/img/ambudispatch-text.png" alt="">

  <div class="flex vc hc d-col h-100 w-100">
    <div class="btn btn-2 btn-2h orange">JOUER</div>
    <div class="btn btn-2 btn-2h red" (click)="openSignin()">SE CONNECTER</div>
  </div>
</div>