$red-deep: #55191a;
$red-main: #c80500;
$red-main-shadow: #960400;

$green-cash: #78de78;

$orange-coin: #ffb536;
$orange-main: #ec7a00;
$orange-main-shadow: #ac5900;

$grey-light: #454545;
$grey-deep-2: #343434;
$grey-deep-3: #2d2d2d;
$grey-deep: #454545;
$white-custom: white;

$blue-main: #006ce5;