<div class="main-flex-container red">
  <!-- <div class="signup-button" (click)="signup()">
    Signup
  </div> -->
  <div class="signup-container">
    <!-- Header -->
    <div class="form-header">
      <span class="header-title">Inscription</span>
      <img src="assets/icon/close-white.png" alt="Close the window" class="close-window-image">
    </div>
    
    <!-- Form -->
      <form [formGroup]="signupForm" (ngSubmit)="signup()" class="form-container">
        <span class="input-title">Identifiant</span>
        <input formControlName="username" class="form-input" type="text">
        
        <span class="input-title">Mot de passe</span>
        <input formControlName="password" class="form-input" type="password">
        
        <span class="input-title">Confirmation</span>
        <input formControlName="passwordControl" class="form-input" type="password">
        
        <span class="input-title">Email</span>
        <input formControlName="email" class="form-input" type="email">
  
        <button type="sumbit" class="form-button">Inscription</button>
      </form>
    
  </div>
</div>