<div class="flex hc p-rel d-col no-overflow b-rad-2">
  <!-- Header -->
  <div class="flex w-100 vc hc h-1 red-background">
    <span class="header-title">Connection</span>
    <img src="assets/icon/close-white.png" alt="Close the window" class="close-window-image" (click)="closeSelf()">
  </div>
  
  <!-- Form -->
  <form [formGroup]="signinForm" (ngSubmit)="signin()" 
  class="flex hc d-col grey-background deep form-container">
      <span class="input-title" >Identifiant</span>
      <input formControlName="username" autocomplete="username" class="form-input-1 h-1" type="text">
      
      <span class="input-title">Mot de passe</span>
      <input formControlName="password" autocomplete="current-password" class="form-input-1 h-1" type="password">

      <div class="flex vc">
        <button type="button" class="form-button-1 h-1 b-rad-1" (click)="openSignupForm()">Inscription</button>
        <div class="spacer w-20"></div>
        <button type="button" (click)="signin()" class="form-button-1 h-1 b-rad-1">Connection</button>
      </div>
    </form>
</div>