@import "../../theme/colors.scss";


.main-container {
    width: 100vw;
    height: 100vh;      
}

.map-container {
    z-index: 1;
    width: 100%;
    height: 100%;
}

.main-map {
    z-index: 1;
    width: 100%;
    height: 100%;
}

.interface-container {
    .moneys-container {
        
        position: absolute;
        z-index: 1;
        top: 15px;
        right: 15px;
        display: flex;
        align-items: center;

        .game-coins-container {
            position: relative;
            display: flex;
            align-items: center;
            padding-left: 15px;

            .coin-image {
                height: 35px;
                z-index: 2;
                right: 0px;
                position: absolute;
            }
    
            .game-coins-ruban {
                background-color: rgba(0, 0, 0, 0.5);
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-right: 15px;
                padding-right: 30px;
                padding-left: 10px;
                border-radius: 10px;
                min-width: 100px;
                height: 22px;

                &.cash {
                    margin-right: 28px;
                }
            }
    
            .money-amount-span {
                color: white;
                font-weight: bold;
            }
        }
    }

    .bottom-right-buttons-container {
        position: absolute;
        z-index: 1;
        bottom: 15px;
        right: 15px;
        display: flex;
        align-items: center;
        img {
            width: 55px;
        }
    }


    .right-panels-container {
        position: absolute;
        z-index: 1;
        right: 0px;
        bottom: 0px;
        height: 99%;
        min-width: 50%;
        display: flex;

        .left-column {
            width: 15%;
            height: 100%;
            display: flex;
            padding: 30px 5px 0px;
            .icon-container {
                
            }    
        }
        
        .right-column {
            width: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
            .padded-container {
                background-color: $grey-deep;
                margin: 7px 7px 0px 7px;
                border-top-right-radius: 8px;
                border-top-left-radius: 8px;
                height: 100%;
                .section-header {
                    background-color: $blue-main;
                    border-top-right-radius: 8px;
                    border-top-left-radius: 8px;
                    padding: 8px 10px 5px 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .section-name {
                        color: $white-custom;
                        font-weight: bold;     
                        padding-top: 5px;                   
                    }
                    .close-right-tab-image {
                        position: absolute;
                        right: 15px;
                        width: 15px;
                        height: auto;
                    }       
                }
                .building-type-container {
                    display: flex;
                    flex-direction: column;
                    .type-name {
                        padding: 5px 0px 5px 5px;
                        color: $white-custom;
                    }
                    .buildings-container {
                        display: flex;
                        flex-direction: column;

                        .building-container {
                            background-color: $grey-deep-2;
                            display: flex;
                            justify-content: space-between;
                            align-content: center;        
                            margin-bottom: 5px;
                            padding: 5px;

                            .left-part {
                                display: flex;
                                align-items: center;
                                flex-direction: row;
                                .building-icon {
                                    height: 30px;
                                }
                                .building-name {
                                    padding-left: 10px;
                                    color: $white-custom;
                                    opacity: 0.7;
                                }                    
                            }
    
                            .right-part {
                                display: flex;
                                align-items: center;
                                justify-content: flex-end;
                                flex-direction: row;

                                .construction-time {
                                    color: $white-custom;
                                    opacity: 0.5;
                                }
                                .building-price-container {
                                    min-width: 90px;
                                    height: 70%;
                                    margin-left: 10px;
                                    border-radius: 5px;
                                    position: relative;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    padding-left: 5px;
                                    padding-top: 5px;
                                    padding-bottom: 5px;

                                    &.orange {
                                        background-color: $orange-coin;
                                        padding-right: 25px;                                       
                                    } 
                                    &.green {
                                        background-color: $green-cash;
                                        padding-right: 30px;
                                    }    
                                    .price {
                                        color: $white-custom;
                                    }
                                    .building-price-image {
                                        height: 80%;
                                        position: absolute;
                                        right: 3px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.leaflet-control-minimap {

    @media (max-width: 480px) {
        width: 60px;
        height: 60px;
    }
}

.buttons-container {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    bottom: 15px;
    // z-index: 2;
    min-width: 100%;
}

.control-buttons-container {
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 300px;
}

.ambulance-side {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.mission-button {
    // position: absolute;
    z-index: 2;
    height: 50px;
    width: 300px;
    
    &.mission{
        // bottom: 20px;
    }
    &.routing{
        // bottom: 90px;
    }
}

.leave-button {
    z-index: 1;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 15px;
    font-weight: 700;
}

.control-button {
    // margin: 5px;       
}