
<ion-content>
  <div class="main-container">
    <div class="map-container">
  
      <div leaflet
          class="main-map"
          [leafletOptions]="mainMapOptions"
          (leafletMapReady)="onMapAlmostReady($event)">        
      </div>
  
    </div> 
  
     <div class="interface-container">
      
      <ion-button class="leave-button" color="danger" (click)="signout()">X</ion-button>

      <div class="moneys-container">
        <div class="game-coins-container">
          <img src="assets/icon/coin.png" alt="The image representing the ingame earned money" class="coin-image">
          <div class="game-coins-ruban">
              <span class="money-amount-span">{{coinMoney}}</span>
          </div>
        </div>
  
        <div class="game-coins-container">
          <img src="assets/icon/cash.png" alt="The image representing the ingame earned money" class="coin-image">
          <div class="game-coins-ruban cash">
              <span class="money-amount-span">{{cashMoney}}</span>
          </div>
        </div>
      </div>

      <div class="bottom-right-buttons-container">
        <img src="assets/icon/buildings.png" alt="Acheter un batiment" class="buildings-image">
      </div>




      <div class="buttons-container">
        <div class="control-buttons-container" *ngIf="firstMissionstarted">   
          <ion-button *ngIf="!missionIsRunning" color="danger" class="control-button" (click)="continueMission()">
            <ion-icon name="play"></ion-icon>
          </ion-button>
    
          <ion-button *ngIf="missionIsRunning" color="danger" class="control-button" (click)="pauseMission()">
            <ion-icon name="pause"></ion-icon>
          </ion-button>
        </div>
 
        <!-- <ion-button color="danger" class="mission-button mission" (click)="getTheTruckMoving({})" [disabled]="disableMissionButton">Transférer un patient</ion-button> -->
        <!-- <ion-button color="secondary" class="mission-button routing" (click)="addRouting()">Start routing</ion-button> -->
      </div>
  
    </div>
  </div>
</ion-content>
